*{
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #642b64;
    font-family: 'Raleway', sans-serif;
}
.card{
    width: 350px;
    background-color: white;
    padding-bottom: 30px;
    margin: 30px;
   
}
.card__img{
  height: 200px;
  width: 100%;
  object-fit: cover;
}
.card__texts{
    padding: 30px 20px;
    display: inline-block;
}

.card__date{
    font-weight: 200;
}
.card__title{
    color: red;
    font-weight: 100;
    font-style: normal;
    margin-bottom: 20px;
    margin-top: 10px;
    
}

.card__paragraph{
    margin-bottom: 20px;
    /* background-color: yellow; */
    /* text-align: justify; */
    line-height: 1.4;
}

.card__cta{
    display: inline-flex;
    background-color: blue;
    color: white;
    text-decoration: none;
    padding: 10px;
    border: 1px solid black;
    justify-items: center;
}