*{
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #c0e4fc;
}
.card{
    width: 330px;
    min-height: 400px;
    background-color: white;
    margin: 0 auto;
    margin-top: 70px;
    border-radius: 10px;
    box-shadow: 6px 6px 20px black;
    background-image: linear-gradient(to top, #505285 0%, #585e92 12%, #65689f 25%, #7474b0 37%, #7e7ebb 50%, #8389c7 62%, #9795d4 75%, #a2a1dc 87%, #b5aee4 100%);
    background-size: 100% 150px;
    background-repeat: no-repeat;

    text-align: center;
    padding: .1px;
}

.card__person{
    background-image: url('./assets/9dfe3cf238e8714a9bf3c3ecaa3f0cae.gif');
    width: 100px;
    height: 100px;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    margin-top: 105px;
    border-radius: 50%;
    border: 7px solid #fff;
    box-sizing: content-box;
}
.card__media{
    margin-top: 40px;
    width: 100%;
    height: 90px;
    border-top: 1px solid #b3a2a2;
    display: flex;
    justify-content: center;
}
.card__icon{
    width: 25%;
    height: 100%;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
}

.card__icon--facebook{
    background-image: url(./icons/fb.svg);
}
.card__icon--smile{
    background-image: url(./icons/smile.svg);
}
.card__icon--youtube{
    background-image: url(./icons/yt.svg);
}