*{
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Courier New', Courier, monospace;
}

.container{
    margin: 50px auto;
    height: 500px;
    width: 50%;
    /* background-color: #59cc87;
    background-image: url(./assets/descarga2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain; */
    background-image: linear-gradient(#17d04571, #d477d36c), url('./assets/descarga2.png');
    text-align: center;
    padding: 200px;
    background-size: cover;
    background-position: center;
}

.title{
    font-size: 42px;
    color: #d81313;
}